* 
h1 {
    text-align: center;
    font-size: 52px;
    font-family: sans-serif;
    color:rgb(156, 13, 13);
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    width: 750px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    border: none;
    font-family: fantasy;
    color: rgb(255, 255, 255);
    padding: 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 42px;
    margin: 4px 2px;
    cursor: pointer;
}

h2 {
    color:#000000;
    font-family: sans-serif;
    padding: 20px;
}

h3 {
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 32px;
    font-family: sans-serif;
}
div.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    height: fit-content;
}
.grid-item {
    position: relative;

    div.image-container {
        position: relative;
        pointer-events: all;
        cursor: pointer;

        .image {
            transition: all .2s;
        }

        a {
            height: 100%;
            width: 100%;
            position: absolute;
            opacity: 0;
            pointer-events: all;
        }
    }

    img {
        opacity: 1;
        width: 100%;
        border-radius: 4px;
        transition: opacity 0.5s ease;
        backface-visibility: hidden;
        pointer-events: none;
        box-shadow: 4px 4px 10px rgba(35, 35, 43, 0.5);
    }
    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        pointer-events: none;
    }
    .image-container:hover {
        .image {
            opacity: 0.2;
            transform: scale(1.01);
        }

        .middle {
            opacity: 1;
        }
    }
    
    .text {
        color: white;
        font-size: 32px;
        padding: 16px 32px;
    }

    p {
        font-size: 18px;
        font-family: sans-serif;
    }

}
body {
    background: linear-gradient(to bottom right, rgb(168, 167, 171), rgb(62, 60, 66));

    > div.content {
        width: 800px;
        margin: 0 auto;
    }
}